<%= session[:current_user_id] %>
<h1>All posts in index view</h1>
<% @posts.each do |post| %>
<li><%= link_to post.title, post %></li>

<%end%>

<%= link_to "create new post", new_post_path %>

<%= link_to "Login", login_path %>
<%= link_to "Signup", signup_path %>
<%= link_to "Logout", logout_path %>
