<%# prefer to check for a current user with a method like "logged_in?" or if current_user %>
<% if session[:current_user_id] %>
<h1> Create new post </h1>
<%= form_for @post do |f| %>
<p>
<%= f.label :title %>
<%= f.text_field :title %>
</p>
<p>
<%= f.label :url %>
<%= f.text_field :url %>
</p>
<p>
  <%= f.label :text %>
  <%= f.text_field :text %>
</p>
<%= f.submit %>
<%end%>

<%= link_to "home", root_path %>
<% else %>
<h1>Please Sign In</h1>
<%= link_to "Login", login_path %>
<% end %>
